html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Regular"), url("../fonts/MullerRegular.woff2") format("woff2"),
                                  url("../fonts/MullerRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Light"), url("../fonts/MullerLight.woff2") format("woff2"),
                                  url("../fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-SemiBold"), url("../fonts/MullerBold.woff2") format("woff2"),
                                  url("../fonts/MullerBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muller";
  src: local("Muller-Medium"), url("../fonts/MullerMedium.woff2") format("woff2"),
                                  url("../fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
    min-width: 1170px;
    font-family: "Muller", sans-serif;
    font-weight: 400;
    background-color: #e5e5e5;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    width: 1170px;
    padding: 0;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-left: 45px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333;
}

.section-offset {
    padding: 35px 0;
}

:root {
  --yellow-color: #cc9933;
  --orange-color: #F0BF5F;
  --gray-color: #A47312;
  --white-color: #fff;
}

/* header */
.header {
    padding-top: 30px;
    padding-bottom: 35px;
}

.header-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #666;
  transition: color 0.3s ease-in-out;
}

.header-link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow-color);
  color: var(--yellow-color);
}

.header-link svg {
  fill: var(--yellow-color);
  transition: fill 0.3s ease-in-out;
}

.header-link:hover {
  color: var(--orange-color);
  outline: none;
}

.header-link:hover svg {
  fill: var(--orange-color);
}

.header-link:active {
  color: var(--gray-color);
  outline: none;
}

.header-link:active svg {
  fill: var(--gray-color);
}

.header-link-personal {
  display: block;
  margin-left: 542px;
  min-width: 154px;
  color: var(--yellow-color);
}

.header-container {
    align-items: center;
    margin-bottom: 25px;
}

.contacts-item-tel {
    margin: 0;
    margin-left: 34px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666;
    transition: color 0.3s ease-in-out;
}

.contacts-item-tel:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow-color);
  color: var(--yellow-color);
}

.contacts-item-tel:hover {
  color: var(--yellow-color);
}

.contacts-item-tel:active {
  color: var(--gray-color);
}

.container-header-nav {
  align-items: center;
    height: 70px;
    padding: 14px 0;
    background-color: var(--white-color);
    border-radius: 15px;
}

.header-nav {
    margin-right: 114px;
}

.header-list-item {
    margin-left: 45px;
}

.btn {
  display: block;
  border: 1px solid var(--yellow-color);
  border-radius: 10px;
  padding: 13px 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--yellow-color);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:focus {
  color: var(--white-color);
  background-color: var(--yellow-color);
}

.btn:hover {
  color: var(--white-color);
  background-color: var(--yellow-color);
}

.btn:active {
  color: var(--white-color);
  background-color: var(--gray-color);
}

.header-btn:not(:last-child) {
    margin-right: 40px;
}

/* special-offers */
.special-offers-cards {
    display: inline-block;
    width: 573px;
    height: 540px;
    background-repeat: no-repeat;
    background-size: cover;
}

.special-offers-cards:not(:last-child) {
    margin-right: 19px;
}

.special-offers-cards {
    vertical-align: top;
}

.special-offers-card-hotels {
    flex-direction: column;
    padding: 212px 229px 15px 45px;
}

.special-offers-card-hotel {
  background-image: url("../img/card-hotel-img.png");
}

.card-tour {
    flex-direction: column;
    padding: 40px 108px 40px 45px;
    width: 573px;
    height: 258px;
    border-radius: 15px;
}

.card-tour-one {
  background-image: url("../img/card-tour-img-1.jpg");
}

.card-tour-two {
  background-image: url("../img/card-tour-img-2.jpg");
}

.card-title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--white-color);
}

.card-title-tour {
  font-size: 40px;
  line-height: 40px;
}

.card-title-hotel {
  font-size: 60px;
  line-height: 60px;
}

.card-price {
    margin-bottom: 47px;
    font-weight: 400;
    color: var(--white-color);
}

.card-price-tour {
  font-size: 20px;
  line-height: 20px;
}

.card-price-hotel {
  font-size: 30px;
  line-height: 30px;
}

.card-tour:not(:last-child) {
    margin-bottom: 24px;
}

.more-link {
  display: block;
  width: max-content;
  padding-right: 15px;
  background-image: url("../img/more-img.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--orange-color);
  transition: padding-right 0.3s ease-in-out, color 0.3s ease-in-out;
}

.more-link:hover {
  padding-right: 30px;
}

.more-link:active {
  padding-right: 15px;
  color: var(--white-color);
}

/* about-us */
.about-us-text {
    margin: 0;
    max-width: 888px;
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    color: #000;
}

/* services */
.service-items {
    flex-wrap: wrap;
}

.service-item {
    padding: 191px 126px 35px 45px;
    width: 573px;
    min-height: 330px;
    border-radius: 15px;
    background-color: var(--white-color);
    background-position: top;
    background-repeat: no-repeat;
}

.service-one {
  background-image: url("../img/service-item-1.png");
}

.service-two {
  background-image: url("../img/service-item-2.png");
}

.service-three {
  background-image: url("../img/service-item-3.png");
}

.service-four {
  background-image: url("../img/service-item-4.png");
}

.service-item:not(:nth-child(2n)) {
    margin-right: 24px;
}

.service-item-link {
  display: inline-block;
  padding-right: 15px;
  background-image: url("../img/service-more-img.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--yellow-color);
  transition: background-image 0.3s ease-in-out, color 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}

.service-item-link:hover {
  background-image: url("../img/more-img-col2.svg");
  color: var(--orange-color);
  padding-right: 30px;
}

.service-item-link:active {
  color: var(--gray-color);
  padding-right: 15px;
}

.service-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 24px;
}

.service-item-container {
    margin-bottom: 10px;
}

.service-item-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

/* advantages */
.advantages-list{
    flex-wrap: wrap;
}

.advantages-list-item {
    padding: 40px 42px 32px 45px;
    width: 276px;
    min-height: 276px;
    border-radius: 15px;
    background-color: var(--white-color);
}

.advantages-list-item:not(:nth-last-child(-n+4)) {
    margin-bottom: 22px;
}

.advantages-list-item:not(:nth-child(4n)) {
    margin-right: 22px;
}

.advantages-item-text {
  display: inline-block;
  margin: 0;
  padding-top: 80px;
  background-position: left top;
  background-repeat: no-repeat;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #000;
}

.advantages-bathtub {
  background-image: url("../img/adv_image_1.svg");
}

.advantages-hanger {
  background-image: url("../img/adv_image_2.svg");
}

.advantages-heating {
  background-image: url("../img/adv_image_3.svg");
}

.advantages-hotel-key {
  background-image: url("../img/adv_image_4.svg");
}

.advantages-parking {
  background-image: url("../img/parking.svg");
}

.advantages-reception {
  background-image: url("../img/reception.svg");
}

.advantages-security {
  background-image: url("../img/security-box.svg");
}

.advantages-swimming-pool {
  background-image: url("../img/swimming-pool.svg");
}

/* accommodation */
.accommodation-list {
    flex-wrap: wrap;
}

.accommodation-items {
    padding: 249px 45px 45px;
    width: 374px;
    min-height: 440px;
    background-color: var(--white-color);
    border-radius: 15px;
    background-position: top;
    background-repeat: no-repeat;
}

.accomodation-item_1 {
  background-image: url("../img/acc_23.png");
}

.accomodation-item_2 {
  background-image: url("../img/acc_24.png");
}

.accomodation-item_3 {
  background-image: url("../img/acc_26.png");
}

.accomodation-item_4 {
  background-image: url("../img/acc_29-1.png");
}

.accomodation-item_5 {
  background-image: url("../img/acc_30.png");
}

.accomodation-item_6 {
  background-image: url("../img/acc_31.png");
}

.accomodation-item_7 {
  background-image: url("../img/acc_27.png");
}

.accomodation-item_8 {
  background-image: url("../img/acc_29.png");
}

.accomodation-item_9 {
  background-image: url("../img/acc_41.png");
}

.accommodation-items:not(:nth-child(3n)) {
    margin-right: 24px;
}

.accommodation-items:not(:nth-last-child(-n+3)) {
    margin-bottom: 24px;
}

.accomodiation_star_rating:nth-child(1) {
    margin-left: 52px;
}

.accommodation-item-price {
  align-items: flex-start;
  justify-content: space-between;
}

.accommodation-items {
    align-items: flex-start;
    flex-direction: column;
}

.accommodation-item-price {
  margin-bottom: 16px;
}

.item-price-text {
  align-self: flex-end;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.item-text-part_1 {
  margin-right: 4px;
  color: #999;
}

.item-text-part_2 {
  margin-right: 54px;
  color: #000;
}

.item-price {
  width: 64px;
  margin-right: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.accomadation-item-name {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}

.accomadation-item-location {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #999;
}

.accomodation-item_9 {
  position: relative;
  padding: 373px 54px 27px 54px;
}

.other-accommodation-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.other-accommodation-link {
  display: block;
  width: 266px;
  background-image: url("../img/other-img.svg");
  background-repeat: no-repeat;
  background-position: right;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--white-color);
}

/* tour */
.tour-container {
  padding: 45px 40px 45px;
  padding-right: 45px;
  background-color: #e9e9e9;
  border-radius: 15px;
}

.tour-title {
  margin-left: 0;
}

.tour-form {
  padding: 32px 28px;
  margin-left: 5px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.form-element  {
  flex-direction: column;
  justify-content: left;
}

.form-element:not(:nth-child(n+5)){
  margin-right: 41px;
}

.form-element:nth-child(5) {
  margin-right: 51px;
}

.tour-btn {
  padding: 13px 30px;
  align-self: flex-end;
}

.label-name {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #000;
}

.form-select {
  min-width: 170px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  border: none;
}

.form-input {
  padding: 0;
  width: 120px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  border: none;
}

.input-number {
  border-bottom: 1px solid #e9e9e9;
}

/* contacts */
.contacts-container {
  justify-content: space-between;
  padding: 45px;
  background-color: var(--white-color);
  border-radius: 15px;
}

.contacts-info {
  min-width: 35%;
}

.item-caption {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}

.text-descr {
  width: 230px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.mail-descr {
  color: #999;
}

.contacts-item:not(:last-child) {
  justify-content: space-between;
  padding-bottom: 24px;
  border-bottom: 1px solid #e9e9e9;
}

.contacts-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 25px;
}

.contacts-item:nth-last-child(2) {
  margin-bottom: 45px;
}

.btn-contacts {
  padding: 27px 30px;
}

.contacts-list {
  flex-direction: column;
}

.tel-container {
  width: 230px;
}

.contacts-item-link {
  width: max-content;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow-color);
  transition: color 0.3s ease-in-out;
}

.contacts-item-link:focus {
  outline-offset: 2px;
  outline: 1px solid var(--yellow-color);
}

.contacts-item-link:active {
  color: #A47312
}

.tel-container {
  flex-direction: column;
}

.mail-container {
  flex-direction: column;
}

.text-descr {
  margin: 0;
  max-width: 230px;
}

/* footer */
.footer-container {
  justify-content: space-between;
  min-height: 341px;
  padding: 45px;
  border-radius: 15px;
  margin-bottom: 25px;
  background: url(/img/logo-sun.svg) no-repeat #333333;
  background-position: bottom right 176px;
}

.footer-left {
  flex-direction: column;
  max-width: 302px;
}

.footer-center {
  min-width: 500px;
}

.footer-copy {
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
}

.footer-text {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white-color);
}

.footer-link {
  width: max-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--yellow-color);
  transition: color 0.3s ease-in-out;
}

.footer-link:focus {
  outline-offset: 5px;
  outline: 1px solid var(--yellow-color);
}

.footer-link:active {
  color: var(--gray-color);
}

.footer-address {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: var(--white-color);
}

.footer-phones {
  flex-direction: column;
}

.footer-phones {
  margin-bottom: 15px;
}

.footer-mail {
  flex-direction: column;
}

.social {
  flex-direction: column;
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-item:not(:last-child) {
  margin-bottom: 20px;
}

.social-link svg {
  fill: #999;
  transition: fill 0.3s ease-in-out;
}

.social-link:focus svg {
  fill: var(--yellow-color);
}

.social-link:hover svg {
  fill: var(--yellow-color);
}

.social-link:active svg {
  fill: var(--gray-color);
}
